* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
  margin: auto;
}

header {
  background: #6b9bd2;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-left: 30px;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: #2962ff;
  margin: 15px 0 0;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button:hover {
  opacity: 0.9;
}

section.hero {
  margin: 50px 0;
}

section.hero p {
  color: #6b9bd2;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0 0;
}

section.hero .container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
}

@media (max-width: 710px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero .container img {
    order: -1;
  }
}

@media (max-width:670px) {
  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2962ff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 6rem;
    display: block;
  }
}